.common-header{
    background: #fff;
    position: fixed;
    z-index: 1000;
    width: 100%;
    opacity: .95;
}

.common-header .section1 .banner{
    font-size: 15px;
    color: white;
    line-height: 2.5;
}

.common-header .section1 .banner span{
    font-weight: bold;
}

.common-header .section1 .banner img{
    float: left;
    height: 30px;
    margin: 5px;
}

#top .btn-link, #top-links li, #top-links a,
#top .btn-link, #top-links li, #top-links a:hover {
  color: white;
  text-shadow: 0 0px 0 #fff;
}

#top .btn-link, #top-links li, #top-links a, #top .btn-link, #top-links li, #top-links a:hover {
    color: white;
    text-shadow: 0 0 0 #fff;
    padding: 0;
    vertical-align: text-bottom;
}
#top-links .dropdown-menu a {
    text-shadow: none;
    color: #000;
    padding-left: 15px;
}

.common-header nav{
    margin-bottom: 0px;
}

.common-header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}
.common-header .section1 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-header .section1 .send_free{
    color: #fff;
}
.common-header .section1 .send_free a{
    color: #fff;
}

.common-header .section3 .search,

.common-header .section3 #cart button {
    background: #00c5b4;
    border: 0;
}

.common-header .section3 .search .form-control{
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
    border: solid #b6b6b6 1px;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.common-header .section3 .search .btn-default {
    background-color: transparent;
    background-image: none;
    color: white;
    border: solid #b6b6b6 1px;
    border-left: 0;
}
.common-header .section3 .search i.fa.fa-search {
    color: #373737;
}

.common-header .section4 {
    box-shadow: -2px 6px 13px -6px grey;
    padding: 10px 0 10px;
}
.common-header .section4 .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-header .section4 .logo img{
    max-width: 200px;
}
.common-header .section4 .menu #menu{
    background-color: white;
    background-image: none;
    border-color: white;
    margin-bottom: 0;
}

.common-header .section4 .menu #menu .nav > li > a {
    color: #5b5a5b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.0);
    font-size: 15px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 0px;
}

.common-header .section4 .menu #menu .nav > li > a:hover{
    background-color: white;
    color: #00c5b4;
}

.common-header .section4 .menu #menu .navbar-collapse{
    padding-left: 0px;
}

/*--------------------------*/

/* md */
@media screen and (max-width: 1199px){ }

/* sm */
@media screen and (max-width: 991px){ }

/* xs */
@media screen and (max-width: 767px){
    
    .common-header .section1 .row {
        flex-direction: column;
    }

    .common-header .section3 .send_free{
        text-align: center;
    }
    
    .common-header .section3 .logo{
        text-align: center;
    }

    .common-header .section4 .row {
        display: block;
    }
    .logo {
        text-align: center;
    }

    .common-header .section4 .menu #menu {
        background-color: #00c5b4;
        border-color: #00c5b4;
        color: white;
    }

    .common-header .section4 .menu #menu .nav > li > a {
        color: white;
        font-size: 15px;
        padding: 10px 35px;
    }

    .common-header .section4 .menu #menu .btn-navbar {
        background-color: white;
        background-image: none;
        border: solid white 1px;
        color: #00c5b4;
    }
    
}

/* xxs */
@media screen and (max-width: 500px){ }