
/*menu*/
section menu{
    height: 500px;
    background-color: black;
    width: 20%;
    min-width: 200px;
    float: left;
    padding: 0px;
    margin: 0px;
    box-shadow: 5px 0px 7px black;
}

menu nav{
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);
    background-image: -o-linear-gradient(top, #FFF, #CCC);
    background-image: linear-gradient(top, #FFF, #CCC);
    overflow: hidden;
    width: 100%;
}

menu nav ul{
    list-style:none;
    padding:0;
}

menu nav ul li{
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:left;
    width: 100%;
    background-color: black;
}

menu nav ul li a .active{
    color: blue;    
}

menu nav ul li:hover{
    color: black;
    font-size:15px;
    background-color: gray;
}

menu nav ul li a{
	color: white;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
menu nav ul li a.active{
    color: blue;
    padding-left: 20px;

}



menu nav ul li a:hover {
    color:#000;
     text-decoration:none;
}
/*fin menu*/